<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/fresh-umbrella-villagers" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the Fresh Animations version!</a>
  <a href="https://x.com/muddyatbest" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Textures by Bold_Muddy</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  {{ snippet:footer }}
</div>