<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/pewdiepack-remastered" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the remastered version!</a>
  <a href="https://ewanhowell.com/resourcepacks/the-pewdiepack-faithful" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the Faithful version!</a>
  <a href="https://www.youtube.com/playlist?list=PLYMG6bVBIumL74qyZN6UxHrTu-4jTO8bF" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Watch the full feature playlist!</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  <h2 style="font-weight: 700; font-size: 32px">Credits</h2>
  <p><b>Fan art</b><br>matorototo, Elite_Gamer_126, SillyPotatoLe, danil0kralj, NonceXx, ominouswhite, not-today-karen, LeBlancGandalf, PolaScott, happynoodles111, Hierosonic, FOXiXUS, Neytirixx, IceyDiamoond, TaongGreasy, BigYeetusOwO, cosmiccvctus, alexa.n.art, itsdotty, luthienp</p>
  <p><b>Dog textures</b><br>knucklesthedead</p>
  <p><b>Ari the parrot</b><br>SwiftShadowFox, dbrighthd</p>
  <p><b>World recreations</b><br>MaidenChinah, GivePassword</p>
  <p><b>Help along the way</b><br>RatchetGamingYT, Terminator_of_sand, LEVIStudios, arkadygaming, TheSur_vivor, Dark_Luminosity0, 398utubzyt, LucasNagy, TheSethskiGamer</p>
  <br>
  {{ snippet:footer }}
</div>
