<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/entity-healthbars-hearts" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the Hearts version!</a>
  <a href="https://ewanhowell.com/resourcepacks/entity-healthbars-32x" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the 32x version!</a>
  <a href="https://ewanhowell.com/resourcepacks/entity-healthbars-64x" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the 64x version!</a>
  <a href="https://ewanhowell.com/resourcepacks/entity-healthbars-dokucraft" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the Dokucraft version!</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  {{ snippet:footer }}
</div>