<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <br>
  {{ description }}
  {{ images }}
  <br>
  <h2 style="font-weight: 700; font-size: 32px">Features</h2>
  <p><b>v1.0</b><br>Splashes, edition text, Sam as the spider eye, Sam banners, Sam beds, custom paintings, menu background, options background, Irish xp bar, potato hunger bar</p>
  <p><b>v2.0</b><br>Guardians become eyes, elder guardians become septiceyes, green nether portals, every painting replaced, high five crit sound, custom music discs, Nugget, Flowey, Sam llama carpet, Guinness</p>
  <p><b>v3.0</b><br>Four leaf clover fern, soft potatoes, Irish dog armour, Sam Irish collar, Jack villager, Sam ghast, green End, Jack armour, updated loading screen</p>
  <p><b>v4.0</b><br>Spawn potatoes, Netherlands portal, nuggets, merch zombie, golden potato, Billy, Steve, eye of ender, eye in the portal, pot o' gold, gold and iron nugget textures</p>
  <p><b>v5.0</b><br>Antisepticeye, Happy Wheels wheelchair, Padraig halo, fence cow, Irish beds, sandstone nugget, sandstone clover, Wheelchair Willy, flag elytra</p>
  <p><b>v6.0</b><br>Antisepticturtle, bartender witch, Papers Please book, Papers Please enchantment table, Untitled Goose, green enchantment effect, Evil Chuck, Jacksepticeye Minecraft song, I'm Everywhere</p>
  <br>
  {{ snippet:footer }}
</div>
