<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <br>
  {{ description }}
  {{ images }}
  <br>
  <h2 style="font-weight: 700; font-size: 32px">Features</h2>
  <p><b>v1.0</b><br>Dragon wing elytra, purple dragon, dog breeds, EH painting, EH banner, horned sheep, brown bear, coloured endermen, different ghast faces, better diamonds, different colour slimes, roses, fully dyed leather, ender chest portals</p>
  <p><b>v2.0</b><br>Quivers, muddy pig, apple leaves, frogs, giraffes, spider eye colours, zombies with exposed bones, purple enchantment table, snow golem faces, cluckshroom, emerald ruby, alternate berries</p>
  <p><b>v3.0</b><br>Blinking eye of ender, flower forest background, pack logo, community edition, mooblooms, 50% horned sheep, ender villager, smiley observer, purple UI, 3D minecart wheels, sticks with leaves, sweet berry hunger bar, red and blue xp bar, purple end portal, enderman portal eyes, ender dragon painting, apple with leaf</p>
  <p><b>v4.0</b><br>Tied wooden tools, skeleton dog, dog painting, red wither, 3D wither skeleton, black cats with green eyes, Alex zombie, round moon, better moon phases, round sun, different creeper faces, Packommunity logo painting, shulker colours, buttercup, red nether portal</p>
  <br>
  {{ snippet:footer }}
</div>
