<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/fences-plus" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the original version!</a>
  <a href="https://faithfulpack.net/" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Built for Faithful</a>
  <br>
  <a href="https://ewanhowell.com/resourcepacks/fences-plus" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">This addon requires the base pack!</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  <p style="font-size: 20px">Textures by Doge</p>
  <br>
  {{ snippet:footer }}
</div>
