<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/packtober-remastered" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the remastered version!</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  <h2 style="font-weight: 700; font-size: 32px">Features</h2>
  <p><b>v1.0</b><br>Bows become trumpets, double chests become coffins, Day of the Dead skull, Day of the Dead costumes, totem pole, moon, Frankenstein, custom menu background, pumpkin chest, trumpet, Spooky Scary Skeletons disc, black cats, skeleton villagers, orange UI, options background, horse costumes, painting, graves, skeleton sign, sign items, notes, Slenderman, Megalovania</p>
  <p><b>v2.0</b><br>Crow cages, crows, pumpkin armour, graveyard iron bars, chain fence, ghosts, candle, wall candle, xp bar, hunger bar, autumn leaves, bats with fangs, trick or treat bucket, loading screen</p>
  <p><b>v3.0</b><br>Leaves on the grass, chandelier, pumpkin painting, skeleton painting, Sans painting, scarecrow wither, better zombies, button spider, cobweb spider, scythe, head in a jar, giant eye, pumpkin wither skeleton, eye elder guardian, mini pumpkins</p>
  <br>
  {{ snippet:footer }}
</div>
