<div style="text-align: center; font-family: Arial">
  {{ snippet:header }}
  <a href="https://ewanhowell.com/resourcepacks/skeleton-physics" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Check out the original pack!</a>
  <a href="https://x.com/ALtheGatorMC" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Ported by ALtheGatorMC</a>
  <br>
  <a href="https://www.curseforge.com/minecraft/texture-packs/fresh-animations" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">Fresh Animations is required!</a>
  <br>
  {{ description }}
  {{ images }}
  <br>
  {{ snippet:footer }}
</div>