<div style="text-align: center; font-family: Arial">
  {{ logo }}
  <h2 style="font-weight: 700; font-size: 32px">{{ summary }}</h2>
  <a href="https://ewanhowell.com/resourcepacks/{{ id }}" target="_blank" style="font-size: 20px; line-height: 40px; color: #1EA1F1; display: block;">View the pack on my website!</a>
  {{ video }}
  <br>
  {{ description }}
  {{ images }}
  <br>
  <div>⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</div>
  <br>
  <a href="{{ discord }}" target="_blank" style="text-decoration: none;">
    <img src="{{ discordIcon }}" width="48">
    <div style="line-height: 6px;"></div>
    <p style="font-size: 20px; text-decoration: underline; color: #5662F6;">Join my Discord Server!</p>
  </a>
  <a href="{{ rpdDiscord }}" target="_blank" style="text-decoration: none;">
    <img src="{{ discordIcon }}" width="48">
    <div style="line-height: 6px;"></div>
    <p style="font-size: 20px; text-decoration: underline; color: #5662F6;">Join the Resource Pack Development Discord Server!</p>
  </a>
  <div style="line-height: 12px;"></div>
  <a href="{{ youtube }}" target="_blank" style="text-decoration: none;">
    <img src="{{ youtubeIcon }}" width="48">
    <div style="line-height: 6px;"></div>
    <p style="font-size: 20px; text-decoration: underline; color: #FFF;">Subscribe on YouTube!</p>
  </a>
  <div style="line-height: 12px;"></div>
  <a href="{{ twitter }}" target="_blank" style="text-decoration: none;">
    <img src="{{ twitterIcon }}" width="48">
    <div style="line-height: 6px;"></div>
    <p style="font-size: 20px; text-decoration: underline; color: #1EA1F1;">Follow me on Twitter!</p>
  </a>
  <div style="line-height: 12px;"></div>
  <a href="{{ kofi }}" target="_blank" style="text-decoration: none;">
    <img src="{{ kofiIcon }}" width="48">
    <div style="line-height: 6px;"></div>
    <p style="font-size: 20px; text-decoration: underline; color: #17CCFF;">Support me on Ko-fi!</p>
  </a>
</div>